@{
    ViewBag.Title = "Community Space-Ship";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white font-weight-bold">SPACE-SHIP <em>&nbsp;&lt;noun&gt;</em></h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white font-weight-light mb-5">
                    <em>being aware of the space you live within, in order to take care of something within that space.</em><br />"We came together in our community space-ship and saw immediate benefits all around us."
                </p>
                <a class="btn btn-xl js-scroll-trigger myBtn text-white" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section myBackground" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="myBlacktext mt-0">Together We Are Strong!</h2>
                <hr class="divider light my-4" />
                <p class="myBlacktext mb-4">At Community Space-Ship we are constantly looking for new ways to improve the quality of life of everyone in our communities.  Our current startup project aims to use resources within our community and share them with as many people as possible.</p>
                <a class="btn btn-xl myLightBtn js-scroll-trigger myBlacktext" href="#CommunityGarden">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section bg-light" id="CommunityGarden">
    <div class="container">
        <h2 class="text-center mt-0">Community Gardens</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-users myIcon mb-4"></i>
                    <h3 class="h4 mb-2">People</h3>
                    <p class="text-muted mb-0">All you have to do to get started is be a person.  We are all in this life together!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="far fa-4x fa-comments myIcon mb-4"></i>
                    <h3 class="h4 mb-2">Communicate</h3>
                    <p class="text-muted mb-0">Using the available tools here, you can start communicating your resources and needs with the rest of the community.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="far fa-4x fa-handshake myIcon mb-4"></i>
                    <h3 class="h4 mb-2">Share</h3>
                    <p class="text-muted mb-0">Sharing is caring, and that's just what we do here.  We take our resources and make sure everyone in the community is fed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart myIcon mb-4"></i>
                    <h3 class="h4 mb-2">Socialize</h3>
                    <p class="text-muted mb-0">At our Share Events people get to be in community and see how just a few people can have a big impact.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action-->
<section class="page-section myBackground">
    <div class="container text-center">
        <h2 class="mb-4 myBlacktext">Learn More About Community Gardens</h2>
        <a class="btn btn-xl myLightBtn" href="@Url.Action("About","Home")">About</a>
        <hr class="divider light mt-4" />
        <h3 class="my-2 myBlacktext">OR</h3>
        <hr class="divider light mb-4" />
        <h2 class="mb-4 myBlacktext">Start Now by Creating an Account</h2>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-xl myLightBtn" })
    </div>
</section>