@model CommunitySpaceShip.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Your Account";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white font-weight-bold">Welcome Back,</h1>
                <hr class="divider my-4" />
                <h2 class="text-white font-weight-bold mb-4">@User.Identity.GetUserName()</h2>
            </div>
            <div class="col-lg-8 align-self-baseline">
                @*<p class="text-white-75 font-weight-light mb-5">
                    @User.Identity.GetUserName()
                </p>*@
                <a class="btn myBtn btn-xl js-scroll-trigger" href="#manage">Manage Profile</a>
                <!--Will put more functionality on this page in the future, for now its a little bare bones.-->
            </div>
        </div>
    </div>
</header>

<!-- Profile-->
<section class="page-section myBackground" id="manage">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="mt-0">
                    @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "myBlacktext" })
                : Html.ActionLink("Pick a password", "SetPassword", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "myBlacktext" }))
                            </h3>
                <hr class="divider light my-4" />
                <p class="myBlacktext mb-4">Not what you're looking for?</p>
                <a class="btn myLightBtn btn-xl js-scroll-trigger" href="#">Share Packages</a>
                @*Need to direct this continue to a Neighbor edit view of current user....*@
            </div>
        </div>
    </div>
</section>

